<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Games | SLE</title>
    <link href="index.css" rel="stylesheet" />
    <link href="games.css" rel="stylesheet" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/">
                <h1>SLE</h1>
            </a>
            <form action="/games" method="GET">
                <input name="steamuname"></input>
                <button>Submit</button>
            </form>
        </div>
    </nav>
    <div class="wrapper">
        <div class="profile">
            <img src="
        <%= profilepic %>
        " />
            <div>
                <h1>
                    <%= nickname %>
                </h1>
                <h4>
                    vanityURL:
                    <%= uname %>
                </h4>
                <h5>
                    steam64:
                    <%= steam64 %>
                </h5>
            </div>
        </div>
        <div class="games-list">
            <h2>
                <%= gameCount %> games
            </h2>
            <table>
                <tr>
                    <th></th>
                    <th>Game</th>
                    <th>Hours</th>
                </tr>
                <% for (var i = 0; i < gamesList.length; i++) { %>
                <tr>
                    <td class="game-icon">
                        <img src="
                    <%= gamebannerPath[i] %>
                    " />
                    </td>
                    <td>
                        <%= gamesList[i] %>
                    </td>
                    <td>
                        <% if(hoursPlayed[i] == 0){ %>
                        Never Played
                        <% }else{ %>
                        <%= hoursPlayed[i] %>
                        <% } %>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</body>

</html>