<!DOCTYPE html>
<html data-bs-theme="dark">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="content-wrapper">
      <div class="profile">
        <div class="profile-image">
          <img
            src="
              <%= profilepic %>
               "
          />
        </div>
        <div>
          <h1><%= nickname %></h1>
          <p>Steamid: <%= steamid %></p>
        </div>
      </div>
      <div class="gamelist-info">
        <div class="game-count">
          <h2><%= gamesList.length %> games</h2>
          <a href="/download">Download CSV</a>
        </div>
        <div class="game-search">
          <input
            type="text"
            id="search"
            placeholder="Search"
            onkeyup="searchGame()"
          />
          <select id="sort" name="sort" onchange="sortHandler()">
            <option value="1,0">Name (Asc.)</option>
            <option value="1,1">Name (Desc.)</option>
            <option value="2,0">Playtime (Asc.)</option>
            <option value="2,1">Playtime (Desc.</option>
          </select>
        </div>
      </div>

      <div>
        <table id="table">
          <thead id="header">
            <tr>
              <th scope="col">Icon</th>
              <th scope="col">Name</th>
              <th scope="col">Playtime (hrs)</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < gamesList.length; i++) { %>
            <tr scope="row">
              <td>
                <img
                  src="<%= 'http://media.steampowered.com/steamcommunity/public/images/apps/' + gamesList[i].appid + '/' + gamesList[i].img_icon_url +'.jpg' %>"
                />
              </td>
              <td><%= gamesList[i].name %></td>
              <td>
                <%= (Math.round(gamesList[i].playtime_forever/60*100)/100) %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
  <script>
    var rows = document.getElementById("table").rows;
    var table = document.getElementById("table");

    function searchGame() {
      var input = document.getElementById("search").value;
      var val = "^(?=.*\\b" + input.split(/\s+/).join("\\b)(?=.*\\b") + ").*$";
      reg = RegExp(val, "i");

      for (var i = 1; i < rows.length; i++) {
        text = rows[i].textContent.replace(/\s+/g, " ");
        if (!reg.test(text)) {
          rows[i].style.display = "none";
        } else {
          rows[i].style.display = "";
        }
      }
    }

    function sort(column, direction) {
      var values = [];
      for (var i = 1; i < rows.length; i++) {
        if (column == 1) {
          val = rows[i].children.item(1).innerHTML;
        } else {
          val = rows[i].children.item(2).innerHTML;
        }
        values.push({ value: val, row: rows[i] });
      }

      if (column == 1) {
        values.sort((a, b) => {
          if (a.value.toUpperCase() > b.value.toUpperCase()) return -1;
          return 1;
        });
      } else {
        values.sort((a, b) => {
          return b.value - a.value;
        });
      }

      if (direction != 1) {
        values.reverse();
      }

      for (var j = 0; j < values.length; j++) {
        table.querySelector("tbody").appendChild(values[j].row);
      }
    }

    function sortHandler() {
      let sortDOM = document.getElementById("sort");
      let selectedValue = sortDOM.options[sortDOM.selectedIndex].value;
      let column = selectedValue.substring(0, 1);
      let direction = selectedValue.substring(2, 3);
      sort(column, direction);
    }
  </script>
</html>
